# XTTS Model
XTTS_MODEL_PATH=
XTTS_DEVICE=cuda
XTTS_USE_DEEPSPEED=true

# Voices
VOICES_DIR=./voices
DEFAULT_VOICE=default
DEFAULT_LANGUAGE=en

# WebSocket Server
WS_HOST=0.0.0.0
WS_PORT=8766

# Audio Output
AUDIO_DEVICE_INDEX=-1
